@charset "utf-8";

/* +++++++++++++++++++++++++++++++++++++++++++++  BASE  (éléments html de base ) +++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* –––––––––––––––––––– surcharge  –––––––––––––––––––––––– */
body {
    min-height: 2000px;
    color: #252;
}

/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */
h1.titrepage {
    margin: 0;
    font-size:26px;
}

h2.item {
    font-size:22px;
}

hr.filetfin{
    border-color: #FFF;
    opacity: 0.4;
    margin: 10px;
}

form{
    margin: 0;
}

strong{
    color: #CC3333;
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                              LAYOUT (positionnements)

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* –––––––––––––––––––– surcharge Bootstrap –––––––––––––––––––––––– */
body, .hero-unit, .navbar-inner {
    background-color: #EDDCC1;
}

.navbar {
    box-shadow: 3px 3px 3px #D8B979;
}

.navbar .nav > li > a {
    color: #CC0000;
    font-size: 16px;
    text-shadow:none;
}


.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus,
.navbar .nav > .active.dropdown > a, .navbar .nav > .active.dropdown > a:hover, .navbar .nav > .active.dropdown > a:focus {
    background-color: #C33;
    box-shadow: 1px 1px 1px 1px #059;
    color: #FFEEEE;
}

ul.nav li:hover{
    color:#0088CC;
}

/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */

div.zapette {
    background-color: #5F835F;
    width:100%;
    height: auto;
    position: fixed;
    left: 0;
    bottom: 0;
}

.zapette_infos {
    font-size: 0.9em;
    color:#CCC;
    text-align:center;
    margin-right:5px;
}

.zapette_infos {
    font-size: 0.9em;
    color:#CCC;
    text-align:center;
    margin-right:5px;
}

.zapette_infos span{
    margin-left:5px;
    margin-right:5px;
}


footer {
    text-align: center;
}

.logo {
    display: block;
    position: relative;
    top: 8px;
    float: left;
    margin-right: 10px;
    font-size: 36px;
    line-height: 32px;
    font-weight: bold;
    text-rendering: optimizelegibility;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                                     MODULES

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* –––––––––––––––––––– surcharge Bootstrap –––––––––––––––––––––––– */

.alert {
  margin-bottom: 0;
}


.label-locale,
.badge-locale,
.btn-locale {
  background-color: #C9A945;
}

.btn-zapette,
.badge-locale {
  float: left;
  margin-right: 10px;
}

.badge>a, .label>a {
    color: #EEE;
}

.label-locale a,
.badge-locale a{
  font-size: 14px;
  font-weight: 400;
}

.label-danger,
.badge-danger {
  background-color: #da4f49;
}

.label-edit,
.badge-edit {
  background-color: #bfb450;
}

.btn-edit {
  background-image: linear-gradient(to bottom, #bfb450, #cc9406);
  color: #FFF;
  background-repeat: unset;
  text-shadow: none;
}

.badge-big {
    font-size: 18px;
    margin-top: 3px;
    margin-right: 3px;
    padding: 6px;
}

.dropdown > .dropdown-menu{
    background-color: #DDBF8B;
    box-shadow: 1px 1px 1px 1px #059;
    color: #FFF;
    display:none;
}

.dropdown:hover > .dropdown-menu{
    display:block;
}

.navbar .nav > li > .dropdown-menu:after {
    border-bottom: 6px solid #DDBF8B;
}

.navbar-inner {
    border-bottom: 6px solid #DDBF8B;
}

.row-fluid [class*="span"].user_widget{
    margin-top: 5px;
}

nav.sections{
    background-color: #C8A94C;
    position: fixed;
    height: 47px;
    top: -43px;
    margin-bottom: 0px;
    left: 0px;
    z-index: 100;
    transition-property: top;
    transition-duration: 0.3s;
}

nav.sections:hover {
    position: fixed;
    top: 0px;
    z-index: 100;
    transition-property: top;
    transition-duration: 0.6s;
}

.row-fluid [class*="span"].menus{
    margin-left: 0%;
}

nav.menus {
    position: relative;
    top: 4px;
    margin-left: -2%;
}

/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */
div.messages{
    position: fixed;
    margin-left: 0px;
    left: 0px;
    z-index: 300;
    top:0px;
    width:auto;
    height:auto;
    overflow:auto;
    transition: top 0.6s;
}


div.messages.masquer{
    top:-400px;
    height:400px;
    transition: top 1s;
}

.icohidemessages:before, .icoshowmessages:before {
    font-size: 24px;
    opacity:1;
    position: absolute;
    left: 0;
    bottom: 0px;
    cursor: pointer;
}

.icoshowmessages:before {
    position: fixed;
    top: -2px;
}

div.items_courant{
    background-color: #F2E8DA;
    border-radius: 12px;
    padding: 5px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}

/*   TABLEAUX */

table {
    width: 100%;
    border-color: #8CB08C;
    border-style: solid;
    border-width: 1px;
}

thead,
tbody{
    transition: opacity 1.3s;
    border-color: #5F835F;
    border-style: solid;
    border-width: 1px;
}

thead.replie,
tbody.replie
{
    transition: opacity 0s;
    overflow: auto;
    opacity: 0;
    display:table-column-group;
}

thead{
    background-color: #5F835F;
    color: #F5E1B3;
}

td, th {
    border-color: #5F835F;
    border-style: solid;
    border-width: 1px;
    padding: 0px 5px;
}

/* Infobulles pour les dates */
td.info:hover,td.info:focus
{
    box-shadow:0 1px 0 rgba(255,255,255,.4);
}

td.info span{
    position:absolute;
/*    margin-top:18px;
*/    margin-left: 40px;
    color:#FFF; background-color:#C9A945;
    padding:0px 4px;
    border-radius:3px;
    box-shadow:0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
   }

td.info:hover span, td.info:focus span{
transform:scale(1) rotate(0);
     opacity:1;
 }


th {
    font-weight: bold;
}

th.tri_selon {
    background-color: #395D39;
}

th.icone, td.icone {
    color: #395D39;
    width: 20px;
}

th.icone {
    background-color: #C9A945;
}

tr.surlignage:hover{
    border-width: 3px;
    border-color: #777722;
    box-shadow: 0px 0px 16px #aaa;
}

caption.ligne_mois{
    background-color: rgba(255, 255, 255, 0.1);
    color:#5F835F;
    text-align: left;
    padding-left: 5px;
    border: medium none;
    font-size: 16px;
    line-height: 28px;
    box-shadow: 0px 2px 0px #aaa;
}


td.niv2, td.before_niv2{
    border-style:none;
}

td input[type="text"] {
  width: 30px;
  height: 11px;
  margin: 6px 8px;
  opacity: 0.7;
}

td.gras{
    font-weight: bold;
    font-size: 1.12em;
}


/*   NOTES */
p.note {
    line-height : 0.2em;
}

/*   FORMULAIRES */
fieldset{
    border-style:none;
    border-bottom-style:dashed;
    border-width:1px;
    margin: 10px;
    padding: 5px;
}

legend{
    margin-bottom:1px;
}

label{
    font-size: 16px;
    font-weight: 400;
}

input.nobr, label.nobr{
   display:inline;
   margin-right:10px;
}

div.input{
   float:left;
   margin-right:10px;
}

fieldset.invisible,
div.invisible
{
    display:none;
    height:0px;
}


input,
select{
    opacity: 0.8;
    border-radius: 20px;
}

input{
    width:150px
}

input.court{
    width:50px
}

.input-long{
    width:400px
}

input.margright, label.margright, button.margright{
   display:inline;
   margin-right:45px;
}

input[type="checkbox"]:focus{
    vertical-align: top;
    margin-bottom: 20px;
    outline: none;
}

input[type="radio"]:focus{
    outline: none;
}

input[title~=Supprimer]{
    background-color: #00FFFF;
}

div.aide {
 display: inline-block;
 font-size: .9em;
 line-height: 1.1em;
}

textarea{
    width: 700px;
    opacity: 0.7;
}

select#compte_id{
    width: 500px;
}


input[type="checkbox"] {
    margin-bottom: 7px;
    vertical-align: top;
}

form.pointage {
    margin: 0;
}



/* Pages comptes */
div.classeRacine {
   background-color: #E0C396;
   border-style: inset;
   border-width: 1px;
   display: inline-block;
   font-size: 0.9em;
   margin: 5px;
   padding: 2px;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                                     STATES (Etats)

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* –––––––––––––––––––– surcharge Bootstrap –––––––––––––––––––––––– */

/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */
/* Compte type PCO*/
.pco {
    color: #A11;
}


/* Statuts des écritures */
/* lignes */
tr.st_prev{
    background-color: rgba(255, 255, 255, 0.2);
    color:#8E8076;
}


tr.st_emise{
    color:#7a5b44;
}


/* Cellule 'statut' */
td.st_prev{
    background-color: #EA0909;
}


td.st_emise{
    background-color: #FF8244;
}

td.st_www{
    background-color: #E0C8A3;
}

td.st_prev button,
td.st_emise button{
    color: #fff;;
}




/* Formulaires en erreur */

input.erreur{
    border-color: #b94a48;
    border-width: 2px;
    background-color: #f2dede;
}

label.erreur{
    color:#b94a48;
}


/*.st_releve{
}
*/



/* Compte actif */
div.compte.actif{
    background-color: #CECA90;
}


/* Montant */
.depense{
    text-align: right;
    color:#CC3333;
}

.recette{
    text-align: right;
    color:#0088CC;
}

.cumul_absolu{
    text-align: right;
    color:#0088CC;
}


.soldes{
    background-color: #E5CEA2;
    font-weight: bold;
    text-align: left;
    color:#252;
}


span.atraduire, label.atraduire, a.atraduire{
    background-color: #EBF8A4;
    color:#F00;
}

h4.nonpublie{
    color:#999999;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

                                     THEMES

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* –––––––––––––––––––– surcharge Bootstrap –––––––––––––––––––––––– */
/* –––––––––––––––––––– Perso –––––––––––––––––––––––– */


.login{
    width:500px;
    height:230px;
    margin:auto;
    background-color: #CECA90;
}


div.ongletGb{
    text-align: center;
    position: relative;
    margin-left: 4px;
    display: inline;
}

.btn-date{
    font-size: 12px;
    padding: 0px 2px;
}





/*  ???????????????????    */


.nota/*{
    font-style: oblique;
    font-weight: bolder;
}
*/
div.contenu /*h5{
    margin-top:-9px;
    }*/



